extends layout

block content
  body
    h1 Find Flights
    form(action="/searchResults"  method="POST" ) Origin: 
      input(type='text', name='origin', value='EWR', required)
      |          Destination:
      input(type='text', name='destination', value='STI', required)
      |          Date: 
      input(type='date', name='year', value='', required)
      |
      input(type='submit', value='Submit')